
<div class="dropzone" ondragover="event.preventDefault();">
@foreach(var Element in DraggingItems.OrderBy(x => x.Order)){
        <div @ondrop="() => HandleDrop(Element)" @ondrop:stopPropagation=true>
            <div class="box" @ondragleave="@(()=> {Element.IsDragOver = false;})"
             @ondragenter="@(()=>{Element.IsDragOver = true;})"
             style="@(Element.IsDragOver?"border-style: solid; border-color:blue;":"")"
             @ondragstart="() => {  DraggingElement = Element; }"
             draggable="true">
            @Element.Value
        </div>
          @if(Element.Order != 0){
              <button class="btn-primary" @onclick="() => HandleUp(Element)">Subir</button>
          }
          @if(Element.Order < DraggingItems.Count - 1){
                <button class="btn-primary" @onclick="() => HandleDown(Element)">Bajar</button>
          }
    </div> 
}
</div>
<div class="m-2">
    <button @onclick="OnOrderItems" class="btn-success">Listo</button>
</div>


@code {


    [Parameter]
    public List<string> Content { get; set; }

    [Parameter]
    public EventCallback<List<string>> OrderItems { get; set; }

    protected override void OnInitialized()
    {
        if(Content is not null)
        {
            DraggingItems = new();
            for(var i = 0; i < Content.Count; i++){
                DraggingItems.Add(new DraggingItem() 
                {
                  Order = i,
                  Value = Content[i],
                });
            }
        }
    }

    private List<DraggingItem> DraggingItems;

    private void HandleDrop(DraggingItem element){

        var Index = DraggingItems.IndexOf(element);
        var IndexDraggin = DraggingItems.IndexOf(DraggingElement);
        var OriginalItem = new DraggingItem()
        { 
            Value = DraggingItems[Index].Value
        }; 
        DraggingItems[Index].Value = DraggingElement.Value;
        DraggingItems[Index].IsDragOver = DraggingElement.IsDragOver;
        DraggingItems[IndexDraggin].Value = OriginalItem.Value;

    }

    private void HandleUp(DraggingItem element){
        if(element.Order > 0){
            DraggingElement = element;
            var ElementChange = DraggingItems[element.Order - 1];
            HandleDrop(ElementChange);
        }
    }

    private void HandleDown(DraggingItem element){
        if(element.Order < DraggingItems.Count - 1){
            DraggingElement = element;
            var ElementChange = DraggingItems[element.Order + 1];
            HandleDrop(ElementChange);
        }
    }

    private async void OnOrderItems(){
        List<string> OrderElementList = DraggingItems.ConvertAll(x => x.Value);
        await OrderItems.InvokeAsync(OrderElementList);
    }

    private DraggingItem DraggingElement;
}
